<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
    <p></p>
    <a data-toggle="collapse" href="#collapse37">Answer</a>
  </div>

  <div id="collapse37" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">

</pre>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
    <p></p>
    <a data-toggle="collapse" href="#collapse38">Answer</a>
  </div>

  <div id="collapse38" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">

</pre>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
    <p></p>
    <a data-toggle="collapse" href="#collapse39">Answer</a>
  </div>

  <div id="collapse39" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">

</pre>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
    <p></p>
    <a data-toggle="collapse" href="#collapse40">Answer</a>
  </div>

  <div id="collapse40" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">

</pre>
    </div>
  </div>
</div>