<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Case Control Structure</h3>
    <p>You have been given a function where an object which may or may not be of the below mentioned type is sent as an argument. You have to use the case control structure in Ruby to identify the class to which the object belongs and print the following output:

    if Hacker, output "It's a Hacker!"
    if Submission, output "It's a Submission!"
    if TestCase, output "It's a TestCase!"
    if Contest, output "It's a Contest!"
    for any other object, output "It's an unknown model"</p>
    <a data-toggle="collapse" href="#collapse37">Answer</a>
  </div>

  <div id="collapse37" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">
def identify_class(obj)
    case obj
        
    when Hacker
        puts "It's a Hacker!"
    when Submission
        puts "It's a Submission!"
    when TestCase
        puts "It's a TestCase!"
    when Contest
        puts "It's a Contest!"
    else
        puts "It's an unknown model"
    end
end
</pre>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Diagonal Difference</h3>
    <p>Given a square matrix of size NxN, calculate the absolute difference between the sums of its diagonals. <br>
      Input Format <br>
      The first line contains a single integer, N. The next N lines denote the matrix's rows, with each line containing N space-separated integers describing the columns. <br>

      Output Format <br>
      Print the absolute difference between the two sums of the matrix's diagonals as a single integer. <br>
      <br>
      Sample Input: <br>
      3 <br>
      11 2 4 <br>
      4 5 6 <br>
      10 8 -12 <br>
      <br>
      Sample Output: <br>
      15 <br>
    </p>
    <a data-toggle="collapse" href="#collapse39">Answer</a>
  </div>

  <div id="collapse39" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">
n = gets.strip.to_i

arrays = Array.new(n)
(0..n-1).each do |x|
    arrays[x] = gets.strip.split(" ").map(&:to_i)
end

d1 = 0
d2 = 0
(0..n-1).each do |x|
    d1 = d1 + arrays[x][x]
    d2 = d2 + arrays[x][-x-1]
end

print (d1-d2).abs
</pre>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Staircase</h3>
    <p>Consider a staircase of size n=4: (exclude underscores)<br>

       ___#<br>
      __##<br>
     _###<br>
    ####<br>
    Observe that its base and height are both equal to n, and the image is drawn using # symbols and spaces. The last line is not preceded by any spaces.<br>
    <br>
    Write a program that prints a staircase of size n.<br>
    <br>
    Input Format<br>
    A single integer, , denoting the size of the staircase.<br>
    <br>
    Output Format<br>
    Print a staircase of size  using # symbols and spaces.<br>
    <br>
    Note: The last line must have  spaces in it.<br>
    </p>
    <a data-toggle="collapse" href="#collapse40">Answer</a>
  </div>

  <div id="collapse40" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">
n = gets.strip.to_i

(1..n).each do |x|
   puts ((" ")*(n-x) + ("#")*x)
end
</pre>
    </div>
  </div>
</div>