<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Day 1: Data Types</h3>
    <p>

      <p><strong>Task</strong> <br>
        The variables i, d, and s are already declared and initialized for you. You must: <br>

        1. Declare 3 variables: one of type int, one of type double, and one of type String. <br>

        2. Read 3 lines of input from stdin (according to the sequence given in the Input Format section below) and initialize your 3 variables. <br>

        3.Use the + operator to perform the following operations: <br>
          1. Print the sum of i plus your int variable on a new line. <br>
          2. Print the sum of d plus your double variable to a scale of one decimal place on a new line. <br>
          3. Concatenate s with the string you read as input and print the result on a new line.
      </p>

      <p><strong>Note:</strong> If you are using a language that doesn't support using + for string concatenation (e.g.: C), you can just print one variable immediately following the other on the same line. The string provided in your editor must be printed first, immediately followed by the string you read as input.</p>


      <p><strong>Input Format</strong> <br>
      The first line contains an integer that you must sum with i. <br>
      The second line contains a double that you must sum with d. <br>
      The third line contains a string that you must concatenate with s. <br>
      </p>

      <p><strong>Output Format</strong> <br>
      Print the sum of both integers on the first line, the sum of both doubles (scaled to 1 decimal place) on the second line, and then the two concatenated strings on the third line.
      </p>

      <p><strong>Sample Input</strong> <br>
      12 <br>
      4.0 <br>
      is the best place to learn and practice coding! <br>
      </p>

      <p><strong>Sample Output</strong> <br>
      16 <br>
      8.0 <br>
      HackerRank is the best place to learn and practice coding! <br>
      </p>

    </p>
    <a data-toggle="collapse" href="#collapse1">Answer</a>
  </div>

  <div id="collapse1" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">
# Read and save an integer, double, and String to your variables.
x = gets.strip.to_i
y = gets.strip.to_f
z = gets.strip
# Print the sum of both integer variables on a new line.
puts x + i
# Print the sum of the double variables on a new line.
puts y + d
# Concatenate and print the String variables on a new line
# The 's' variable above should be printed first.
puts s + z
</pre>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Day 2: Operators</h3>
    <p>
      
      <p><strong>Task</strong> <br>
      Given the meal price (base cost of a meal), tip percent (the percentage of the meal price being added as tip), and tax percent (the percentage of the meal price being added as tax) for a meal, find and print the meal's total cost.</p>

      <p><strong>Note:</strong> <br>
      Be sure to use precise values for your calculations, or you may end up with an incorrectly rounded result!</p>

      <p><strong>Input Format</strong> <br>
      There are 3 lines of numeric input: 
      The first line has a double, mealCost(the cost of the meal before tax and tip). <br>
      The second line has an integer, tipPercent(the percentage of mealCost being added as tip). <br>
      The third line has an integer, taxPercent(the percentage of mealCost being added as tax). <br>
      </p>

      <p><strong>Output Format</strong> <br>
      Print The total meal cost is totalCost dollars., where totalCost is the rounded integer result of the entire bill ( mealCost with added tax and tip).
      </p>

      <p><strong>Sample Input</strong> <br>
      12.00 <br>
      20 <br>
      8 <br>
      </p>

      <p><strong>Sample Output</strong> <br>
      The total meal cost is 15 dollars.
      </p>

    </p>
    <a data-toggle="collapse" href="#collapse2">Answer</a>
  </div>

  <div id="collapse2" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">
meal = gets.strip.to_f
tip = gets.strip.to_f
tax = gets.strip.to_f

tip_total = meal * (tip/100)
tax_total = meal * (tax/100)

meal_total = meal + tip_total + tax_total

puts "The total meal cost is #{meal_total.round(0)} dollars."
</pre>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Day 3: Intro to Conditional Statements</h3>
    <p>
      
      <p><strong>Task</strong> <br>
        Given an integer, n, perform the following conditional actions: <br>

        If n is odd, print Weird <br>
        If n is even and in the inclusive range of 2 to 5, print Not Weird <br>
        If n is even and in the inclusive range of 6 to 20, print Weird <br>
        If n is even and greater than 20, print Not Weird <br>
        Complete the stub code provided in your editor to print whether or not  is weird.
      </p>

      <p><strong>Input Format</strong> <br>
        A single line containing a positive integer, n.
      </p>

      <p><strong>Constraints</strong> <br>
        1 <= n >= 100
      </p>

      <p><strong>Output Format</strong> <br>
        Print Weird if the number is weird; otherwise, print Not Weird.
      </p>

      <p><strong>Sample Input</strong> <br>
        0 <br>
        24 <br>
      </p>

      <p><strong>Sample Output</strong> <br>
        Weird <br>
        Not Weird <br>
      </p>

    </p>
    <a data-toggle="collapse" href="#collapse3">Answer</a>
  </div>

  <div id="collapse3" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">
n = gets.strip.to_i

if n % 2 != 0
    puts "Weird"
elsif n % 2 == 0 && n >= 2 && n <= 5
    puts "Not Weird"
elsif n % 2 == 0 && n >= 6 && n <= 20
    puts "Weird"
elsif n % 2 == 0 && n > 20
    puts "Not Weird"
end
</pre>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Day 4: Class vs. Instance</h3>
    <p>
      
      <p><strong>Task</strong> <br>
        Write a Person class with an instance variable, age, and a constructor that takes an integer, initialAge, as a parameter. The constructor must assign initialAge to age after confirming the argument passed as initialAge is not negative; if a negative argument is passed as initialAge, the constructor should set age to 0 and print Age is not valid, setting age to 0.. In addition, you must write the following instance methods: <br>

        1. yearPasses() should increase the age instance variable by 1. <br>
        2. amIOld() should perform the following conditional actions: <br>
        If age < 13, print You are young.. <br>
        If age >= 13 and age <=18, print You are a teenager.. <br>
        Otherwise, print You are old.. <br>

        To help you learn by example and complete this challenge, much of the code is provided for you, but you'll be writing everything in the future. The code that creates each instance of your Person class is in the main method. Don't worry if you don't understand it all quite yet!
      </p>

      <p><strong>Input Format</strong> <br>
      Input is handled for you by the stub code in the editor. <br>

      The first line contains an integer, T(the number of test cases), and the T subsequent lines each contain an integer denoting the age of a Person instance.
      </p>

      <p><strong>Output Format</strong> <br>
        Complete the method definitions provided in the editor so they meet the specifications outlined above; the code to test your work is already in the editor. If your methods are implemented correctly, each test case will print 2 or 3 lines (depending on whether or not a valid initialAge was passed to the constructor).
      </p>

      <p><strong>Sample Input</strong> <br>
        4 <br>
        -1 <br>
        10 <br>
        16 <br>
        18 <br>
      </p>

      <p><strong>Sample Output</strong> <br>
        Age is not valid, setting age to 0. <br>
        You are young. <br>
        You are young. <br>
        <br>
        You are young. <br>
        You are a teenager. <br>
        <br>
        You are a teenager. <br>
        You are old. <br>
        <br>
        You are old. <br>
        You are old. <br>
      </p>

    </p>
    <a data-toggle="collapse" href="#collapse4">Answer</a>
  </div>

  <div id="collapse4" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">
class Person
    attr_accessor :age
    
    def initialize(initialAge)
        # Add some more code to run some checks on initialAge 
        if initialAge < 0
            @age = 0
            puts "Age is not valid, setting age to 0."
        else
            @age = initialAge
        end
    end
    
    def amIOld()
        # Do some computations in here and print out the correct statement to the console
        if @age < 13
            puts "You are young."
        elsif @age >= 13 && @age < 18
            puts "You are a teenager."
        else
            puts "You are old."
        end
        
            
    end
    
    def yearPasses()
        # Increment the age of the person in here
        @age += 1
    end
end
</pre>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Day 5: Loops</h3>
    <p>
      
      <p><strong>Task</strong> <br>
        Given an integer, n, print its first 10 multiples. Each multiple n x i (where 1 <= i <= 10) should be printed on a new line in the form: n x i = result.
      </p>

      <p><strong>Input Format</strong> <br>
        A single integer, n.
      </p>

      <p><strong>Output Format</strong> <br>
        Print 10 lines of output; each line i (where 1 <= i <= 10 ) contains the result of n x i in the form: 
        n x i = result.
      </p>

      <p><strong>Sample Input</strong> <br>
        2
      </p>

      <p><strong>Sample Output</strong> <br>
        2 x 1 = 2 <br>
        2 x 2 = 4 <br>
        2 x 3 = 6 <br>
        2 x 4 = 8 <br>
        2 x 5 = 10 <br>
        2 x 6 = 12 <br>
        2 x 7 = 14 <br>
        2 x 8 = 16 <br>
        2 x 9 = 18 <br>
        2 x 10 = 20 <br>
      </p>

    </p>
    <a data-toggle="collapse" href="#collapse5">Answer</a>
  </div>

  <div id="collapse5" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">
n = gets.strip.to_i

(1..10).each do |x|
    puts "#{n} x #{x} = #{n*x}"
end

</pre>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Day 6: Let's Review</h3>
    <p>

      <p><strong>Task</strong> <br>
        Given a string, S, of length N that is indexed from 0 to N-1, print its even-indexed and odd-indexed characters as 2 space-separated strings on a single line (see the Sample below for more detail).
      </p>

      <p><strong>Input Format</strong> <br>
        The first line contains an integer, T(the number of test cases). 
        Each line i of the T subsequent lines contain a String, S.
      </p>

      <p><strong>Output Format</strong> <br>
        For each String Sj (where 0 <= j <= T-1), print 's even-indexed characters, followed by a space, followed by Sj's odd-indexed characters.
      </p>

      <p><strong>Sample Input</strong> <br>
        2 <br>
        Hacker <br>
        Rank <br>
      </p>

      <p><strong>Sample Output</strong> <br>
        Hce akr <br>
        Rn ak <br>
      </p>

    </p>
    <a data-toggle="collapse" href="#collapse6">Answer</a>
  </div>

  <div id="collapse6" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">
n = gets.strip.to_i
array = Array.new(n)
(0..n-1).each do |x|
    array[x] = gets.strip.split("") 
end

(0..n-1).each do |x|
    even = []
    odd = []
    
    array[x].each_with_index do |val, index|
        if index.even?
            even.push(val)
        else
            odd.push(val)
        end
    end
    
    puts "#{even.join("")} #{odd.join("")}"
end
</pre>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Day 7: Arrays</h3>
    <p>
      
      <p><strong>Task</strong> <br>
        Given an array, A, of N integers, print A's elements in reverse order as a single line of space-separated numbers.
      </p>

      <p><strong>Input Format</strong> <br>
        The first line contains an integer, N(the size of our array). <br>
        The second line contains N space-separated integers describing array A's elements.
      </p>

      <p><strong>Output Format</strong> <br>
        Print the elements of array A in reverse order as a single line of space-separated numbers.
      </p>

      <p><strong>Sample Input</strong> <br>
        4 <br>
        1 4 3 2
      </p>

      <p><strong>Sample Output</strong> <br>
        2 3 4 1
      </p>

    </p>
    <a data-toggle="collapse" href="#collapse7">Answer</a>
  </div>

  <div id="collapse7" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">
n = gets.strip.to_i
arr = gets.strip.split(' ').map(&:to_i).reverse.join(" ")

puts arr
</pre>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Day 8: Dictionaries and Maps</h3>
    <p>
      
      <p><strong>Task</strong> <br>
        Given n names and phone numbers, assemble a phone book that maps friends' names to their respective phone numbers. You will then be given an unknown number of names to query your phone book for. For each name queried, print the associated entry from your phone book on a new line in the form name=phoneNumber; if an entry for name is not found, print Not found instead.
      </p>

      <p><strong>Note:</strong> <br>
        Your phone book should be a Dictionary/Map/HashMap data structure.
      </p>

      <p><strong>Input Format</strong> <br>
        The first line contains an integer, n, denoting the number of entries in the phone book. 
        Each of the n subsequent lines describes an entry in the form of 2 space-separated values on a single line. The first value is a friend's name, and the second value is an 8-digit phone number.
        <br>
        After the n lines of phone book entries, there are an unknown number of lines of queries. Each line (query) contains a name to look up, and you must continue reading lines until there is no more input.
      </p>

      <p><strong>Output Format</strong> <br>
        On a new line for each query, print Not found if the name has no corresponding entry in the phone book; otherwise, print the full name and phoneNumber in the format name=phoneNumber.
      </p>

      <p><strong>Sample Input</strong> <br>
        3 <br>
        sam 99912222 <br>
        tom 11122222 <br>
        harry 12299933 <br>
        sam <br>
        edward <br>
        harry <br>
      </p>

      <p><strong>Sample Output</strong> <br>
        sam=99912222 <br>
        Not found <br>
        harry=12299933 <br>
      </p>

    </p>
    <a data-toggle="collapse" href="#collapse8">Answer</a>
  </div>

  <div id="collapse8" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">
n = gets.strip.to_i
array = Array.new(n)
phone_number = {}
(1..n).each do |x|
    array[x] = gets.strip.split(" ")
    phone_number[array[x][0]] = array[x][1]
end

STDIN.each do |name|
    name.strip!
    if phone_number[name]
        puts "#{name}=#{phone_number[name]}"
    else
        puts "Not found"
    end 
end
</pre>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Day 9: Recursion</h3>
    <p>
      
      <p><strong>Task</strong> <br>
        Write a factorial function that takes a positive integer, N as a parameter and prints the result of N! (N factorial).
      </p>

      <p><strong>Input Format</strong> <br>
        A single integer, N (the argument to pass to factorial).
      </p>

      <p><strong>Output Format</strong> <br>
        Print a single integer denoting N!.
      </p>

      <p><strong>Sample Input</strong> <br>
        3
      </p>

      <p><strong>Sample Output</strong> <br>
        6
      </p>

    </p>
    <a data-toggle="collapse" href="#collapse9">Answer</a>
  </div>

  <div id="collapse9" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">
n = gets.strip.to_i

def factorial(num)
    puts (1..num).inject(:*)
end

factorial(n)
</pre>

<pre class="prettyprint lang-ruby linenums">
n = gets.strip.to_i

def factorial(num)
    if num == 1
        return 1
    else
        return num * factorial(num-1)
    end
end

puts factorial(n)
</pre>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Day 10: Binary Numbers</h3>
    <p>
      
      <p><strong>Task</strong> <br>
        Given a base-10 integer, n, convert it to binary (base-2). Then find and print the base- integer denoting the maximum number of consecutive 1's in n's binary representation.
      </p>

      <p><strong>Input Format</strong> <br>
        A single integer, n.
      </p>

      <p><strong>Output Format</strong> <br>
        Print a single base-10 integer denoting the maximum number of consecutive 1's in the binary representation of n.
      </p>

      <p><strong>Sample Input</strong> <br>
        5 <br>
        13
      </p>

      <p><strong>Sample Output</strong> <br>
        1 <br>
        2
      </p>

    </p>
    <a data-toggle="collapse" href="#collapse10">Answer</a>
  </div>

  <div id="collapse10" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">
n = gets.strip.to_i

def binary_cons_ones(num)
    arr = []
    
    while num > 0
        arr.push(num % 2)
        num = (num / 2).floor
    end
    
    puts arr.join("").split("0").max.size
    # [1,1,0,1] => "1101" => [11,1] => 11 => 2
end

binary_cons_ones(n)
</pre>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Day 11: 2D Arrays</h3>
    <p>
      
      <p><strong>Context</strong> <br>
        Given a 6x6 2D Array, A: <br>
        1 1 1 0 0 0 <br>
        0 1 0 0 0 0 <br>
        1 1 1 0 0 0 <br>
        0 0 0 0 0 0 <br>
        0 0 0 0 0 0 <br>
        0 0 0 0 0 0 <br>
        <br>
        We define an hourglass in A to be a subset of values with indices falling in this pattern in A's graphical representation: <br>
        a b c <br>
        &nbsp; d <br>
        e f g <br>
        <br>
        There are 16 hourglasses in A, and an hourglass sum is the sum of an hourglass' values.
      </p>

      <p><strong>Task</strong> <br>
        Calculate the hourglass sum for every hourglass in A, then print the maximum hourglass sum.
      </p>

      <p><strong>Input Format</strong> <br>
        There are 6 lines of input, where each line contains 6 space-separated integers describing 2D Array A; every value in A will be in the inclusive range of -9 to 9.
      </p>

      <p><strong>Output Format</strong> <br>
        Print the largest (maximum) hourglass sum found in A.
      </p>

      <p><strong>Sample Input</strong> <br>
        1 1 1 0 0 0 <br>
        0 1 0 0 0 0 <br>
        1 1 1 0 0 0 <br>
        0 0 0 0 0 0 <br>
        0 0 0 0 0 0 <br>
        0 0 0 0 0 0 <br>
      </p>

      <p><strong>Sample Output</strong> <br>
        19
      </p>

    </p>
    <a data-toggle="collapse" href="#collapse11">Answer</a>
  </div>

  <div id="collapse11" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">
arr = Array.new(6)
for arr_r in (0..6-1)
    arr_c = gets.strip
    arr[arr_r] = arr_c.split(' ').map(&:to_i)
end

sums = []

for x in (0..3)
   for y in (0..3)
       sum = arr[x][y] + arr[x][y+1] + arr[x][y+2] + #top row
       arr[x+1][y+1] + #middle row
       arr[x+2][y] + arr[x+2][y+1] + arr[x+2][y+2] #bottom row
       
       sums.push(sum)
   end
end

puts sums.max
</pre>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Day 12: Inheritance</h3>
    <p>
      
      <p><strong>Task</strong> <br>
        You are given two classes, Person and Student, where Person is the base class and Student is the derived class. Completed code for Person and a declaration for Student are provided for you in the editor. Observe that Student inherits all the properties of Person.<br>
        <br>
        Complete the Student class by writing the following:<br>
        <br>
        A Student class constructor, which has 4 parameters:<br>
        A string, firstName.<br>
        A string, lastName.<br>
        An integer, id.<br>
        An integer array (or vector) of test scores, scores.<br>
        <br>
        A char calculate() method that calculates a Student object's average and returns the grade character representative of their calculated average:<br>
        <br>
        Letter/Average: <br>
        O / 90 <= a <=100 <br>
        E / 80 <= a < 90 <br>
        A / 70 <= a < 80 <br>
        P / 55 <= a < 70 <br>
        D / 40 <= a < 55 <br>
        T / a < 40 <br>
      </p>

      <p><strong>Input Format</strong> <br>
        The locked stub code in your editor calls your Student class constructor and passes it the necessary arguments. It also calls the calculate method (which takes no arguments). <br>
        <br>
        You are not responsible for reading the following input from stdin: 
        The first line contains firstName, lastName, and id, respectively. The second line contains the number of test scores. The third line of space-separated integers describes .
      </p>

      <p><strong>Output Format</strong> <br>
        This is handled by the locked stub code in your editor. Your output will be correct if your Student class constructor and calculate() method are properly implemented.
      </p>

      <p><strong>Sample Input</strong> <br>
        Heraldo Memelli 8135627 <br>
        2 <br>
        100 80 <br>
      </p>

      <p><strong>Sample Output</strong> <br>
        Name: Memelli, Heraldo <br>
        ID: 8135627 <br>
        Grade: O <br>
      </p>

    </p>
    <a data-toggle="collapse" href="#collapse12">Answer</a>
  </div>

  <div id="collapse12" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">
class Person
  def initialize(firstName, lastName, id)
    @firstName = firstName
    @lastName = lastName
    @id = id
  end
  def printPerson()
    print("Name: ",@lastName , ", " + @firstName ,"\nID: " , @id)
  end
end

#task ==========================================
class Student < Person

    def initialize(firstName, lastName, id, scores)
        super(firstName, lastName, id)
        @scores = scores
    end

    def calculate()
        total = @scores.inject(:+)
        average = total / (@scores.count)
            
        if average >= 90 && average <= 100
            "O"
        elsif average >= 80 && average < 90
            "E"
        elsif average >= 70 && average < 80
            "A"
        elsif average >= 55 && average < 70
            "P"
        elsif average >= 40 && average < 55
            "D"
        elsif average < 40
            "T"
        end
    end
    
end
#task ==========================================

input = gets.split()
firstName = input[0]
lastName = input[1]
id = input[2].to_i
numScores = gets.to_i
scores = gets.strip().split().map!(&:to_i)
s = Student.new(firstName, lastName, id, scores)
s.printPerson           
print("\nGrade: " + s.calculate)
</pre>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Day 13: Abstract Classes</h3>
    <p>

      <p><strong>Note:</strong> <br>
        Not supported by Ruby :(
      </p>

    </p>
    <a data-toggle="collapse" href="#collapse13">Answer</a>
  </div>

  <div id="collapse13" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">
#No Ruby here :(
</pre>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
    <p>
      
      <p><strong>Task</strong> <br>
      </p>

      <p><strong>Note:</strong> <br>
      </p>

      <p><strong>Input Format</strong> <br>
      </p>

      <p><strong>Output Format</strong> <br>
      </p>

      <p><strong>Sample Input</strong> <br>
      </p>

      <p><strong>Sample Output</strong> <br>
      </p>

    </p>
    <a data-toggle="collapse" href="#collapse14">Answer</a>
  </div>

  <div id="collapse14" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">

</pre>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Day 15: Linked List</h3>
    <p>
      
      <p><strong>Task</strong> <br>
        Complete the insert function in your editor so that it creates a new Node (pass data as the Node constructor argument) and inserts it at the tail of the linked list referenced by the head parameter. Once the new node is added, return the reference to the head node.
      </p>

      <p><strong>Note:</strong> <br>
        If the head argument passed to the insert function is null, then the initial list is empty.
      </p>

      <p><strong>Input Format</strong> <br>
        The insert function has 2 parameters: a pointer to a Node named head, and an integer value, data. 
        The constructor for Node has 1 parameter: an integer value for the data field.
        <br>
        You do not need to read anything from stdin.
      </p>

      <p><strong>Output Format</strong> <br>
        Your insert function should return a reference to the head node of the linked list.
      </p>

      <p><strong>Sample Input</strong> <br>
        The following input is handled for you by the locked code in the editor: <br>
        The first line contains T, the number of test cases. <br>
        The T subsequent lines of test cases each contain an integer to be inserted at the list's tail.
        4 <br>
        2 <br>
        3 <br>
        4 <br>
        1 <br>
      </p>

      <p><strong>Sample Output</strong> <br>
        The locked code in your editor prints the ordered data values for each element in your list as a single line of space-separated integers:
        <br>
        2 3 4 1
      </p>
    </p>
    <a data-toggle="collapse" href="#collapse15">Answer</a>
  </div>

  <div id="collapse15" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">
class Node

  attr_accessor :data,:next

  def initialize data
    @data = data
    @next = nil
  end
end

class Solution
# task =======================================

  def insert(head,value)
    node = Node.new(value)
      if head == nil
        head = node
      else
        head.next = insert(head.next,value)
      end
    return head
  end

# task =======================================
  def display(head)
    current = head
    while current 
      print current.data," "
      current = current.next
    end
  end
end
       
mylist= Solution.new
head=nil
T=gets.to_i
for i in 1..T
    data=gets.to_i
    head=mylist.insert(head,data)
end
mylist.display(head)
</pre>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
    <p>
      
      <p><strong>Task</strong> <br>
      </p>

      <p><strong>Note:</strong> <br>
      </p>

      <p><strong>Input Format</strong> <br>
      </p>

      <p><strong>Output Format</strong> <br>
      </p>

      <p><strong>Sample Input</strong> <br>
      </p>

      <p><strong>Sample Output</strong> <br>
      </p>

    </p>
    <a data-toggle="collapse" href="#collapse16">Answer</a>
  </div>

  <div id="collapse16" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">

</pre>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
    <p>
      
      <p><strong>Task</strong> <br>
      </p>

      <p><strong>Note:</strong> <br>
      </p>

      <p><strong>Input Format</strong> <br>
      </p>

      <p><strong>Output Format</strong> <br>
      </p>

      <p><strong>Sample Input</strong> <br>
      </p>

      <p><strong>Sample Output</strong> <br>
      </p>

    </p>
    <a data-toggle="collapse" href="#collapse16">Answer</a>
  </div>

  <div id="collapse16" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">

</pre>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
    <p>
      
      <p><strong>Task</strong> <br>
      </p>

      <p><strong>Note:</strong> <br>
      </p>

      <p><strong>Input Format</strong> <br>
      </p>

      <p><strong>Output Format</strong> <br>
      </p>

      <p><strong>Sample Input</strong> <br>
      </p>

      <p><strong>Sample Output</strong> <br>
      </p>

    </p>
    <a data-toggle="collapse" href="#collapse17">Answer</a>
  </div>

  <div id="collapse17" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">

</pre>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
    <p>
      
      <p><strong>Task</strong> <br>
      </p>

      <p><strong>Note:</strong> <br>
      </p>

      <p><strong>Input Format</strong> <br>
      </p>

      <p><strong>Output Format</strong> <br>
      </p>

      <p><strong>Sample Input</strong> <br>
      </p>

      <p><strong>Sample Output</strong> <br>
      </p>

    </p>
    <a data-toggle="collapse" href="#collapse18">Answer</a>
  </div>

  <div id="collapse18" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">

</pre>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
    <p>
      
      <p><strong>Task</strong> <br>
      </p>

      <p><strong>Note:</strong> <br>
      </p>

      <p><strong>Input Format</strong> <br>
      </p>

      <p><strong>Output Format</strong> <br>
      </p>

      <p><strong>Sample Input</strong> <br>
      </p>

      <p><strong>Sample Output</strong> <br>
      </p>

    </p>
    <a data-toggle="collapse" href="#collapse19">Answer</a>
  </div>

  <div id="collapse19" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">

</pre>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
    <p>
      
      <p><strong>Task</strong> <br>
      </p>

      <p><strong>Note:</strong> <br>
      </p>

      <p><strong>Input Format</strong> <br>
      </p>

      <p><strong>Output Format</strong> <br>
      </p>

      <p><strong>Sample Input</strong> <br>
      </p>

      <p><strong>Sample Output</strong> <br>
      </p>
      
    </p>
    <a data-toggle="collapse" href="#collapse20">Answer</a>
  </div>

  <div id="collapse20" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">

</pre>
    </div>
  </div>
</div>