<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
    <p></p>
    <a data-toggle="collapse" href="#collapse1">Answer</a>
  </div>

  <div id="collapse1" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">

</pre>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
    <p></p>
    <a data-toggle="collapse" href="#collapse2">Answer</a>
  </div>

  <div id="collapse2" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">

</pre>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
    <p></p>
    <a data-toggle="collapse" href="#collapse3">Answer</a>
  </div>

  <div id="collapse3" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">

</pre>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
    <p></p>
    <a data-toggle="collapse" href="#collapse4">Answer</a>
  </div>

  <div id="collapse4" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">

</pre>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
    <p></p>
    <a data-toggle="collapse" href="#collapse5">Answer</a>
  </div>

  <div id="collapse5" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">

</pre>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
    <p></p>
    <a data-toggle="collapse" href="#collapse6">Answer</a>
  </div>

  <div id="collapse6" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">

</pre>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
    <p></p>
    <a data-toggle="collapse" href="#collapse7">Answer</a>
  </div>

  <div id="collapse7" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">

</pre>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
    <p></p>
    <a data-toggle="collapse" href="#collapse8">Answer</a>
  </div>

  <div id="collapse8" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">

</pre>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
    <p></p>
    <a data-toggle="collapse" href="#collapse9">Answer</a>
  </div>

  <div id="collapse9" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">

</pre>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
    <p></p>
    <a data-toggle="collapse" href="#collapse10">Answer</a>
  </div>

  <div id="collapse10" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">

</pre>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
    <p></p>
    <a data-toggle="collapse" href="#collapse11">Answer</a>
  </div>

  <div id="collapse11" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">

</pre>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
    <p></p>
    <a data-toggle="collapse" href="#collapse12">Answer</a>
  </div>

  <div id="collapse12" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">

</pre>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
    <p></p>
    <a data-toggle="collapse" href="#collapse13">Answer</a>
  </div>

  <div id="collapse13" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">

</pre>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
    <p></p>
    <a data-toggle="collapse" href="#collapse14">Answer</a>
  </div>

  <div id="collapse14" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">

</pre>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
    <p></p>
    <a data-toggle="collapse" href="#collapse15">Answer</a>
  </div>

  <div id="collapse15" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">

</pre>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
    <p></p>
    <a data-toggle="collapse" href="#collapse16">Answer</a>
  </div>

  <div id="collapse16" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">

</pre>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
    <p></p>
    <a data-toggle="collapse" href="#collapse17">Answer</a>
  </div>

  <div id="collapse17" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">

</pre>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
    <p></p>
    <a data-toggle="collapse" href="#collapse18">Answer</a>
  </div>

  <div id="collapse18" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">

</pre>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
    <p></p>
    <a data-toggle="collapse" href="#collapse19">Answer</a>
  </div>

  <div id="collapse19" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">

</pre>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
    <p></p>
    <a data-toggle="collapse" href="#collapse20">Answer</a>
  </div>

  <div id="collapse20" class="panel-collapse collapse">
    <div class="panel-body">
<pre class="prettyprint lang-ruby linenums">

</pre>
    </div>
  </div>
</div>